<template>
  <div :class="$style.root"><%= data.name %></div>
</template>
<script>
  //js

  //components

  //other

  export default {
    name: '<%= data.name %>',
    components: {},
    mixins: [],
    props: {},
    data() {
      return {};
    },
    computed: {},
    watch: {},
    mounted() {},
    methods: {},
  };
</script>
<style lang="scss" module>
  .root {
  }
</style>

